language: go
go_import_path: github.com/home-assistant/hassio-cli
matrix:
  fast_finish: true
  include:
  - go: '1.6'
  - go: '1.6'
    env: LINTER
    install: go get -u github.com/golang/lint/golint
    language: bash
    script: golint -set_exit_status
  - go: 1.7.x
  - go: 1.7.x
    env: DEPLOYMENT
    addons:
      apt:
        packages:
        - golang-go-linux-arm
    before_deploy:
    - CGO_ENABLED=0 GOARCH=386 go build -ldflags="-s -w" -o "hassio_i386"
    - CGO_ENABLED=0 GOARCH=amd64 go build -ldflags="-s -w" -o "hassio_amd64"
    - CGO_ENABLED=0 GOARCH=arm GOARM=6 go build -ldflags="-s -w" -o "hassio_armhf"
    - CGO_ENABLED=0 GOARCH=arm64 go build -ldflags="-s -w" -o "hassio_aarch64"
    deploy:
      provider: releases
      api_key:
        secure: TIFDJRlgIeA8AAd7tN+6Mq4FMIDcTDJtjk+a9yzaKvwTKZIWie2vH6pxnF8B3WASxuSnr3cXnzqf0Z7AeEOEQqFIPLaCrTPmXYXQk5eRGLPWZG4DfuasOWu2nKNcnlYb+mFzlWg0CkLEhNj8uMckjwBFL7LaQasgl8ymDrSPFDj/U3KdHPZ0lxMpn4EeH+xjrUcS3LWkoXrKXfjlqqmCgunsPigAXyHLdxWdSGIfGJlG+G0slE3TEF5DlPmlodVb/IHtsty8M8qZUaplkxk3EfF0aYtYWzwdMOp+Kcs3duB+ZxsWNNtg7IuVS2vN9owHT7ico2jWrOg/ZtmAxLSC8wcg5C/7BHzrd3KVntVsZchlF3v/byeIa4UIuAoNPNM7lFbQYgD5HzLZ71xj8YFQSs7uyJkBT1K/2FTNjSi0OIFd/Ffae/7QibAOAPxCo+9Hg044B0CPS8j3Mt7qSaLX0m1PfQsRGhlRETypCTX3kag07cqDwyV8TpvE2WK8b9mtElUrN1V3Rvm2LQy/1rzZ7i3kYOS5m/tjGPsOun2cn6wCMnDdnjL8hZm87GJB0g7HxbHleLlyknkiEBY9Ul5rpLXN1fXGMh/OAMJChCP7mjPDhel57Yer0RlKEuhaBwqqAK264pmAJY83iJ6UmZZweqHIgIpeJnNggtg5IbMPjdw=
      file_glob: true
      file: hassio_*
      skip_cleanup: true
      on:
        tags: true
        repo: home-assistant/hassio-cli
        branch: master
  - go: master
