name: golangci-lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest
